<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">{% endblock %}
        <style>
            body{
                margin:0;
                padding:0;
                font-family: sans-serif;
            }
            ul{
                margin:0;
                height: 50px;
                display:flex;
                justify-content: center;
                align-items: center;
                background-color:#71A9F7;
            }
            ul li{
                list-style: none;
                margin: 0 10px;
            }

            ul li:hover a{
                color:#1CFEBA;
            }
            ul li a{
                text-decoration: none;
                color:#fff;
                transition:all ease 0.35s;
            }

            .allmovies{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 10px;
            }
            .allmovies li{
                min-width: 200px;
                max-width: 400px;
                background-color: #C6D8FF;
                border-radius:5px;
                padding: 20px;
                list-style: none;
                margin: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .allmovies a{
                background-color: #71A9F7;
                padding: 10px 40px;
                border-radius:5px;
                color:#fff;
                transition: all ease 0.35s;
            }
            .allmovies a:hover{
                text-decoration: none;
                background-color: #41463D;
            }
            .allmovies h3{
                text-align: center;
                flex-basis: 100%;
            }
            .time{
                font-size: 14px;
                flex-basis: 100%;
                text-align: center;
            }

        </style>
    </head>
    <body>
    <header>
        <ul>
            <li><a href="{{ path("allMovies") }}">Movies</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path("dashboard") }}">My account</a></li>
                <li><a href="{{ path("logout") }}">Log out</a></li>
            {% else %}
                <li><a href="{{ path("app_register") }}">Register</a></li>
                <li><a href="{{ path("app_login") }}">Log in</a></li>
            {% endif %}
        </ul>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>



